<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="namesCtrl">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="FBSearch.css" type="text/css" />
   <!-- <link rel="stylesheet" href="style.css" />-->
    <script type="text/javascript" src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.light.js"></script>
     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    
    
</head>

<body>
        <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header"> <a class="navbar-brand" href="#">FB Search</a> </div>
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" ng-model="keyword" class="form-control" placeholder="Search" name="keyword">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="Search()" type="submit"> <i class="glyphicon glyphicon-search"></i> </button>
                                </div>
                            </div>
                            <button id="ClearButton" type="Reset" class="btn btn-default btn-primary">Clear</button>
                        </form>
                        
                    </div>
                </nav>
        
    
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li ng-repeat="tab in tabs" 
                            ng-class="{active:isActiveTab(tab.url)}" ><a ng-click="onClickTab(tab)">{{tab.title}}</a></li>
                    </ul>                   
                    <!--<ul class="nav nav-tabs">
                        
                        <li class="active"><a data-toggle="tab" ng-click="onClickTab(tab)">Users</a></li>
                        <li><a data-toggle="tab" ng-click="onClickTab(tab)">Pages</a></li>
                        <li><a data-toggle="tab" ng-click="go('/page-Events')">Events</a></li>
                        <li><a data-toggle="tab" ng-click="go('/page-Places')">Places</a></li>
                        <li><a data-toggle="tab" ng-click="go('/page-Groups')">Groups</a></li>
                        <li><a data-toggle="tab" ng-click="go('/page-Favorites')">Favorites</a></li>
                    </ul>-->
                    
            </div>
    
        
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
        <!-- App Content Container -->
        <!--<div class="page-container">
            <div ng-view="" class="page-view" ng-class="pageAnimationClass"></div>
        </div>-->
    
    
        <div class="container" >
        
  
            
        <!-- Example page partials -->
        <script type="text/ng-template" id="page-Users.html">
            <div id="page-Users" class="pages">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Profile photo</th>
                        <th>Name</th>
                        <th>Favorite</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in users">
                        <td>{{ $index + 1 }}</td>
                        <td><img src={{x.picture.data.url}} class="img-circle" width="40" height="40"/></td>
                        <td>{{ x.name }}</td>
                        <td><button class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-star-empty"></i></button></td>
                        <td><button ng-click="Details( x.id )" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button></td>
                        <td>{{ x.id }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </script>        
        <script type="text/ng-template" id="page-Pages.html">
            <div id="page-Pages" class="pages">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Profile photo</th>
                                <th>Name</th>
                                <th>Favorite</th>
                                <th>Details</th>
                              </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in pages">
                                <td>{{ $index + 1 }}</td>
                                <td><img src={{x.picture.data.url}} class="img-circle" width="40" height="40"/></td>
                                <td>{{ x.name }}</td>
                                <td><button class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-star-empty"></i></button></td>
                                <td><button ng-click="Details( x.id )" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button></td>
                                <td>{{ x.id }}</td>
                            </tr>
                            </tbody>
                        </table>
            </div>
        </script>
        <script type="text/ng-template" id="page-Events.html">
            <div id="page-Events" class="pages">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Profile photo</th>
                                <th>Name</th>
                                <th>Favorite</th>
                                <th>Details</th>
                              </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in events">
                                <td>{{ $index + 1 }}</td>
                                <td><img src={{x.picture.data.url}} class="img-circle" width="40" height="40"/></td>
                                <td>{{ x.name }}</td>
                                <td><button class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-star-empty"></i></button></td>
                                <td><button ng-click="Details( x.id )" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button></td>
                                <td>{{ x.id }}</td>
                            </tr>
                            </tbody>
                        </table>
            </div>
        </script>
        <script type="text/ng-template" id="page-Places.html">
            <div id="page-Places" class="pages">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Profile photo</th>
                                <th>Name</th>
                                <th>Favorite</th>
                                <th>Details</th>
                              </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in places">
                                <td>{{ $index + 1 }}</td>
                                <td><img src={{x.picture.data.url}} class="img-circle" width="40" height="40"/></td>
                                <td>{{ x.name }}</td>
                                <td><button class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-star-empty"></i></button></td>
                                <td><button ng-click="Details( x.id )" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button></td>
                                <td>{{ x.id }}</td>
                            </tr>
                            </tbody>
                        </table>
            </div>
        </script>
        <script type="text/ng-template" id="page-Groups.html">
            <div id="page-Groups" class="pages">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Profile photo</th>
                                <th>Name</th>
                                <th>Favorite</th>
                                <th>Details</th>
                              </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in groups">
                                <td>{{ $index + 1 }}</td>
                                <td><img src={{x.picture.data.url}} class="img-circle" width="40" height="40"/></td>
                                <td>{{ x.name }}</td>
                                <td><button class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-star-empty"></i></button></td>
                                <td><button ng-click="Details( x.id )" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button></td>
                                <td>{{ x.id }}</td>
                            </tr>
                            </tbody>
                        </table>
            </div>
        </script>
        <script type="text/ng-template" id="page-Favorites.html">
            <div id="page-Favorites" class="pages">
                <h1>Page 2</h1>
                <p>Use the method from any page in an ng-click or other event handler.</p>
                <p><a ng-click="go('/page3', 'slideUp')">Slide up Page 3</a></p>
                <code>&lt;a ng-click="go('/page3', 'slideUp')"&gt;Slide up Page 3&lt;/a&gt;</code>
            </div>
        </script>
 
         <script type="text/ng-template" id="page-Detail.html">
            <div id="page-Detail" class="pages">
                <p>{{ detail }}</p>
                <a ng-click="Back()">Back</a>
                
          
                  <uib-accordion close-others="true"> 
                   <div uib-accordion-group class="panel-default" heading="{{x.name}}" ng-repeat="x in detail.albums.data" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                     <li ng-repeat="y in x.photos.data">{{ y.picture }}</li>
                   </div>
                  </uib-accordion>
                
                
                  <uib-accordion close-others="true"> 
                   <div uib-accordion-group class="panel-default" heading="{{group.Name}}" ng-repeat="group in groups" is-open="group.open">

                     {{group.Country}}
                   </div>
                  </uib-accordion>

  
               
                
                <div>
                  <ul>
                    <li ng-repeat="x in detail.albums.data" ng-click="accordion.current = x.name">
                      {{ x.name }}
                      <ul ng-show="accordion.current === x.name">
                        <li ng-repeat="y in x.photos.data">{{ y.picture }}</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                
                <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
                  <div class="panel panel-default" ng-repeat="x in detail.albums.data">
                    <div class="panel-heading" role="tab">
                      <h4 class="panel-title">
                        <a bs-collapse-toggle>
                          {{ x.name }}
                        </a>
                      </h4>
                    </div>
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                      <div class="panel-body">
                        {{ x.photos.data }}
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
        </script>
        
            
        <script type="text/ng-template" id="page1.html">
            <div id="page1" class="pages">
                <h1>Page 1</h1>
                <p>Here's a simple, scalable approach for page transitions in a single page app using the new(ish) class-based animation support for ng-view: a rootScope 'go' method.</p>
                <p>We add the 'pageAnimationClass' class to the view container with ng-class and set up any number of arbitrary page transitions in our css file.</p>
                
            </div>
        </script>
            

        <script type="text/ng-template" id="page2.html">
            <div id="page2" class="pages">
                <h1>Page 2</h1>
                
                <p>Use the method from any page in an ng-click or other event handler.</p>
                <p><a ng-click="go('/page3', 'slideUp')">Slide up Page 3</a></p>
                <code>&lt;a ng-click="go('/page3', 'slideUp')"&gt;Slide up Page 3&lt;/a&gt;</code>
            </div>
        </script>
    
        <script type="text/ng-template" id="page3.html">
            <div id="page3" class="pages">
                <h1>Page 3</h1>
                <p>We can also include a 'back' keyword for convenience</p>
                <p><a ng-click="go('back', 'slideLeft')">Slide left back to the previous page</a></p>
                <code>&lt;a ng-click="go('back', 'slideLeft')"&gt;Slide left...&lt;/a&gt;</code>
            </div>
        </script>
        
        <script type="text/ng-template" id="page4.html">
            <div id="page4" class="pages">
                <h1>Page 4</h1>
                <p>The transition class is optional since we set a default in our go method.</p>
                <p><a ng-click="go('/page1')">Use the default transition (crossFade) to go to page 1</a></p>
                <code>&lt;a ng-click="go('/page1')"&gt;Use the default...&lt;/a&gt;</code>
            </div>
        </script>
        
        
        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="https://code.angularjs.org/1.2.0/angular.js"></script>
        <script src="https://code.angularjs.org/1.2.0/angular-route.js"></script>
        <script src="https://code.angularjs.org/1.2.0/angular-animate.js"></script>
        <script src="script.js"></script>
    </div><!--<div class="container">-->
    
    
</body>

</html>