<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Facebook Search</title>
    <link href="style.css" rel="stylesheet" />
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=590">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="FBSearch.css" type="text/css" />-->
    <script type="text/javascript" src="FBSearch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-animate.js"></script>


</head>

<body>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '780504348764511', 
            xfbml: true, 
            version: 'v2.8'
            //status :  true,
        });
        FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
    <div ng-controller="animationsCtrl">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                <div id="appTitle" class="navbar-header col-xs-12 col-md-3"> <a class="navbar-brand" style="color:#3D5898;display:block;">FB Search</a> </div>
<!--                <div class="col-xs-12 col-md-10">-->
<!--                    <div class="row">-->
<!--                <form class="navbar-form navbar-left">-->
                    <div class = "col-xs-9 col-md-5">
                    <div id="searchGroup" class="input-group">
                        
                        <input id="searchInput" type="text" ng-model="keyword" data-toggle="tooltip" data-placement="bottom" title="Please type a keyword" class="form-control" placeholder="type something..." name="keyword" required>
                        <div class="input-group-btn">
                            <button id="searchButton" class="btn btn-default" ng-click="inputValid() && Search()" type="submit"> <i class="glyphicon glyphicon-search"></i> </button>
                        </div>
                        
                    </div>
                    </div>
                    <div class="col-xs-3 col-md-4"><button id="clearButton" type="Reset" class="btn btn-default btn-primary" ng-click="Reset()">Clear</button></div>
                   
<!--                </form>-->
                    
<!--                    </div>-->
                </div> 
            </div>
        </nav>
        <div class="tabbable" id="tabLine">
            <!-- Only required for left/right tabs -->
             <div class="container-fluid">
            <div class="row">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in tabs" class="col-md-2 col-xs-12 eachTab" ng-class="{tabActive:isActiveTab(tab)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
            </ul>
            </div>
            </div>
        </div>
        
<!--        <select ng-model="ngSwitchSelected" ng-options="item for item in ngSwitchItems"></select>-->
        
        <div ng-switch on="ngSwitchSelected">
            <div class="switchItem" id="mainPage" ng-switch-default>
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
<!--                            <div id="mainView">-->
                                <!--
                <div class="progress" id="loadingmessage" style="display:none;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
-->                         <div id="firstProgress" style="display:none;">
                            <div class="progress" id="loadingmessage" style="width:100%; vertical-align: middle;">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                </div>
                            </div>
<!--                            </div>-->
                            <div id="firstPage" class="pages" ng-show="!isInputNull() && !isReset">
                                
                                
                                <div id="tableData">
                                <table id ="firstPageTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Profile photo</th>
                                            <th>Name</th>
                                            <th ng-show="activeFavorite">Type</th>
                                            <th>Favorite</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="!activeFavorite">
                                        <tr ng-repeat="x in myTable.data">
                                            <td>{{ $index + 1 }}</td>
                                            <td ><img src={{x.picture.data.url}} class="img-circle" width="40" height="40" /></td>
                                            <td ng-show="activeFavorite"><img src={{x.picture}} class="img-circle" width="40" height="40" /></td>
                                            <td>{{ x.name }}</td>
                                            
                                            <td>
                                                <button  ng-click="Favorite(x.id, x.picture.data.url, x.name, flag)" class="btn btn-default"> <i ng-class="activeStarClass(x.id)" ng-style="activeStarStyle(x.id)" ></i></button>
                                            </td>
                                            
                                            <td>
                                                <button ng-click="Details( x.id, x.picture.data.url, flag)" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-show="activeFavorite">
        
                                        <tr ng-repeat="x in favorites">
                                            <td>{{ $index + 1 }}</td>
                                            <td ><img src={{x[0]}} class="img-circle" width="40" height="40" /></td>
                                            <td>{{ x[1] }}</td>
                                            <td>{{ x[2] }}</td>
                                            
                                            <td>
                                                <button  ng-click="DelFavorite(x[3])" class="btn btn-default" type="submit"> <i id="{{x[3]}}" class="glyphicon glyphicon-trash"></i></button>
                                            </td>
                                            <td>
<!--                                                <button ng-click="Details(x[3], x.picture.data.url)" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button>-->
                                                <button ng-click="Details(x[3], x[0], x[2])" class="btn btn-default" type="submit"> <i class="glyphicon glyphicon-chevron-right"></i></button>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                </div>
                                <div class="row">
                                    <div id="previous-and-next-button" class="col-xs-12 col-md-4 col-md-offset-4">
                                   
                                        <button ng-show="!activeFavorite" id="goPrevious" style="display:none;" class="btn btn-default" ng-click="PageChanging( flag, myTable.paging.previous)"> Previous</button>
                                        <button ng-show="!activeFavorite" id="goNext" class="btn btn-default" ng-click="PageChanging(flag,myTable.paging.next)"> Next</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <div ng-include="currentTab"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="switchItem" id="detailPage" ng-switch-when="item2">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div id="secondPage" class="pages">
                                <div class="row col-md-12 column">
                                    <div id = "firstRowDetail"class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <button class="btn btn-default" type="submit" ng-click="Back()"> <i class="glyphicon glyphicon-chevron-left"></i>Back</button>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="pull-right" id="favorite-and-facebook">
                                        <!--        <a href="#"><img src="https://www.sentinelsystems.ca/uploads/images/Buttons/FB_button.png" style="width: 30px ;height:30px" id="fbData"></a>-->
                                        <button id="favoriteButton" ng-click="Favorite(detail.id, portrait, detail.name, detailFlag)" class="btn btn-default"> <i ng-class="activeStarClass(detail.id)" ng-style="activeStarStyle(detail.id)"></i></button>
                                        <button id="facebookButton" ng-click="postFB(portrait,detail.name)" class="btn btn-default"> <img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" style="width: 20px; height:20px" id="fbData"></button>
                                        </div>
                                        
                                        
                                        <!--        <button style="height: 30px" id="starBat"><i class="icon-star-empty icon-large icon-a " id="starElement"></i></button>-->
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Albums</h3></div>
                                        
                                        <div class="panel-body">
                                            <div id="albumsProgress">
                                            <div class="progress" id="loadingAlbum">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"> </div>
                                            </div>
                                            </div>
                                            <div id="albumsData" style="display:none;">
                                            <div ng-show="!albumNums" class="alert alert-warning" role="alert">No data found.</div>
                                            <div ng-show="albumNums" class="panel-group" id="accordion">
                                                <div class="panel panel-default" ng-repeat="x in detail.albums.data">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                <a class = "albumClickTitle" data-toggle="collapse" data-parent="#accordion" href="#collapse1{{$index}}">{{ x.name }}</a>
                             </h4> </div>
                                                    <div id="collapse1{{$index}}" class="panel-collapse collapse" ng-class="{in:$first}">
                                                        <div class="panel-body">
                                                            <div ng-repeat="y in x.photos.data"> <img style="margin-bottom: 20px;"; src="https://graph.facebook.com/v2.8/{{ y.id }}/picture?access_token=EAALF3VR0KV8BAJxZA0VAaZAe8SiNlqaWnZCs5RNfq6AcB9Tm3lVcI3dcZCMC4sCqVioaPzUbp6o9hSH1dizldHgwseo3UKI9WjFPlqEixJ3ZCo6YWkMfiDY6zR5cC7CvXtgXAjohkFY0nzLdMxKId29ulOKZBGFkkZD" class="img-rounded" width="100%" height="300">
                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Posts</h3></div>
                                        <div class="panel-body">
                                            <div id="postsProgress">
                                            <div class="progress" id="loadingPosts">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"> </div>
                                            </div>
                                            </div>
                                            <div id="postsData" style="display:none;">
                                            <div ng-show="!postsNums" class="alert alert-warning" role="alert">No data found.</div>
                                            <div ng-show="postsNums" class="panel-group" id="accordion">
                                                <div class="panel panel-default" ng-repeat="x in detail.posts.data">
                                                    <div class="panel-body">
                                                        <div class="media">
                                                            <div class="media-left"> <img src="{{portrait}}" class="media-object" style="width:50px"> </div>
                                                            <div class="media-body postNameAndTime" >
                                                                <h5 class="media-heading">{{detail.name}}</h5>
                                                                <h4 class="postTime"><small class="postsTime">{{timeFormat(x.created_time) | date:'yyyy-MM-dd HH:mm:ss'}}</small></h4> </div>
                                                            <div class="media">
                                                                <p ng-show= "x.message!==undefined" class="mb-0">{{ x.message }}</p>
                                                                <p ng-show= "x.message ===undefined && x.story!==undefined" class="mb-0">{{ x.story }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--
                    <h1>{{ keyword }}</h1>
                    {{test}}
-->
                </div>
                <!--<div class="container">--></div>
            
<!--            <div class="switchItem" ng-switch-default>Default Item</div>-->
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
    <script src="script.js"></script>
</body>

</html>