/* ngSwitch animation */
.switchItemRelative {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.switchItem {
    position: absolute;
    width: 100%;
    display: block;
}
/*The transition is added when the switch item (id === mainPage )is about to enter or about to leave DOM*/
#mainPage.ng-enter,
#mainPage.ng-leave {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
}

/* When the element is about to enter DOM*/
#mainPage.ng-enter {
    left: 100%;
}

/* When the element completes the enter transition */
#mainPage.ng-enter-active {
    left: 0;
}
/* When the element is about to leave DOM*/
#mainPage.ng-leave {
    right: 0;
    visibility: hidden;
}
/*When the element end the leave transition*/
#mainPage.ng-leave-active {

   visibility: hidden;
}

/*The transition is added when the switch item (id === detailPage )is about to enter or about to leave DOM*/
#detailPage.ng-enter,
#detailPage.ng-leave {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
}

/* When the element is about to enter DOM*/
#detailPage.ng-enter {
    right: 100%;
}

/* When the element completes the enter transition */
#detailPage.ng-enter-active {
    right: 0;
}
/* When the element is about to leave DOM*/
#detailPage.ng-leave {
    right: 0;
    visibility: hidden;
}
/*When the element end the leave transition*/
#detailPage.ng-leave-active {

   visibility: hidden;
}