
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */



@media only screen and (max-width:768px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    #clearButton {
        margin-left: -15px;
    }
    #tableData{
        border: 1px solid #CCC;
        width: 100%;
        display: block;
        overflow: scroll;
        margin-top: 20px;
        
    }
    
    #firstPageTable{
        overflow-x:auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
    #appTitle{
        border-bottom: 1px solid #DDD;
    }
    
}
@media only screen and (min-width:992px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .nav.nav-tabs {
        line-height: 50px;
        height: 50px;
    }
    #searchButton {
        width: 150%;
    }
    #clearButton {
        margin-left: 40px;
    }
    #tableData{
        margin: 10px;
    }
    .nav-tabs li{
    background-color: #FFF;
    color: black;
    border-bottom: 3px solid #3D5898;
    }
    #favorite-and-facebook{
        margin-right: -25px;
    }
}
button:focus,i:focus{
    outline: none;
}
h4.postTime{
    margin-top: -5px;
}
h5.media-heading.ng-binding{
    margin-top: 6px;
}
/*
.media-body.postNameAndTime{
    padding-top: 5px;
}
*/
#previous-and-next-button{
    text-align: center;
}
#goPrevious,#goNext {
    border-radius: 7px;
    width: 100px;
    height: 40px;
    margin: 15px 15px 15px 15px;
}
#goPrevious:hover,#goNext:hover {
    background: white;
}
#searchButton{
    border-color: #3D5898;
}
#searchButton:focus{
    outline: none;
}
#goPrevious:focus,#goNext:focus,#clearButton:focus{
    outline: none;
    background: white;
}
#firstProgress{
    height: 50px;
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
}

#albumsProgress{
    #height: 50px;
    #width: 80%;
    margin-top: 15px;
}/*
#postsProgress{
    height: 300px;
    width: 70%;
    margin: 15%;
    
}
*/

a.albumClickTitle.ng-binding:hover,a.albumClickTitle.ng-binding:focus,a.albumClickTitle.ng-binding:active{
    color: #3D5898;
}

#firstPageTable.table tr td{
    vertical-align: middle;
}
#searchInput{
    border-radius: 0;
    margin: 10px;
}
#searchButton{
    border-radius: 0;
    margin: 10px;
    background-color: #3D5898;
    color: white;
}
#clearButton{
    border-radius: 0;
    color: #3D5898;
    border-bottom: 1px solid #3D5898;
    background-color: white;
    margin-top: 10px;
   
}
#firstRowDetail{
    margin-top: 20px;
    margin-bottom: 20px;
}

#favoriteButton{
    margin-right: 15px;
}
#facebookButton{
    margin-left: 15px;
}

#tabLine{
    margin-top: -20px;
}

p.postsTime{
    color:#777;
    font-size: 14px;
    font-weight: 600;
}
.nav.nav-tabs{
    border-bottom: 3px solid #3D5898;
    text-align: center;
    
    }
.nav-tabs li{
    background-color: #FFF;
    color: black;
    

}
.nav-tabs li.tabActive {
    background-color: #3D5898;
    color: white;

}


.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    #table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}


/* ngSwitch animation */
.switchItemRelative {
    position: relative;
    height: 500px;
    overflow: hidden;
}



.eachTab:hover{
    cursor: pointer;
}



#mainPage.ng-hide-add { 
  -webkit-transition:all 1.5s linear;
  -moz-transition:all 1.5s linear;
  -ms-transition:all 1.5s linear;
  -o-transition:all 1.5s linear;
   transition:all 1.5s linear;
   position: relative;
   right:-100%;
}
#mainPage.ng-hide-add.ng-hide-add-active { 
    #left:0;
    display:none;!important
    
}
#mainPage.ng-hide-remove { 
  -webkit-transition:all 1.5s linear;
  -moz-transition:all 1.5s linear;
  -ms-transition:all 1.5s linear;
  -o-transition:all 1.5s linear;
   transition:all 1.5s linear;
   position: relative;
   right:-100%;
}
#mainPage.ng-hide-remove.ng-hide-remove-active { 
   right: 0;
   
}

#detailPage.ng-hide-add { 
  -webkit-transition:all 1.5s linear;
  -moz-transition:all 1.5s linear;
  -ms-transition:all 1.5s linear;
  -o-transition:all 1.5s linear;
   transition:all 1.5s linear;
   position: relative;
   right:100%;
}
#detailPage.ng-hide-add.ng-hide-add-active { 

    display:none;!important
    
}
#detailPage.ng-hide-remove { 

  -webkit-transition:all 1.5s linear;
  -moz-transition:all 1.5s linear;
  -ms-transition:all 1.5s linear;
  -o-transition:all 1.5s linear;
   transition:all 1.5s linear;
   position: relative;
   right:100%;
}
#detailPage.ng-hide-remove.ng-hide-remove-active { 
   right: 0;
}

/*
#mainPage.ng-hide-add, #detailPage.ng-hide-remove{ 

  -webkit-transition:all 2s linear;
  -moz-transition:all 2s linear;
  -ms-transition:all 2s linear;
  -o-transition:all 2s linear;
   transition:all 2s linear;
   position: relative;
   left:0;
}

#detailPage.ng-hide-add.ng-hide-add-active { 
    display: none;
    right: 100%;
}

#detailPage.ng-hide-remove.ng-hide-remove-active { 
    right: 0;
}
*/




